.header-color {
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4286f4,
    #373b44
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4286f4,
    #373b44
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.landing-grid {
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4286f4,
    #373b44
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4286f4,
    #373b44
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.projects-grid {
  display: flex;
}

/* Resume Page css */
.resume-right-col {
  background: #27221f;
  box-shadow: 40px 40px 35px rgba(0, 0, 0, 0.19) !important;
  color: white;
  padding: 2em;
  border-radius: 10px;
  margin-left: auto !important;
  margin-right: auto !important;
}

/* contact page css */

.contact-body {
  margin: auto;
  position: fixed;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 2em;
}

.contact-grid {
  text-align: center;
  justify-content: center;
  width: 80%;
  height: 550px;
  background: white;
  color: black;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 30px 30px 30px 30px rgba(0, 0, 0, 0.19);
}

.contact-grid h2 {
  font-family: "Anton", sans-serif;
}

.contact-grid p {
  font-family: "Oxygen", sans-serif;
  font-weight: bold;
}

.contact-grid hr {
  border-top: 5px black;
  width: 50%;
  margin: auto;
}

.contact-list i {
  font-size: 66px;
  padding-right: 5rem;
}

/* contact page css */

.avatar-img {
  height: 250px;
  margin-top: 5em;
  border-radius: 50%;
  border: 10px solid #aaccff;
}

.banner-text {
  background-color: white;
  opacity: 0.8;
  width: 62.5%;
  margin: auto;
  border-radius: 10px;
  box-shadow: 30px 30px 25px rgba(0, 0, 0, 0.19) !important;
}

.banner-text h1 {
  font-size: 66px;
  font-weight: bold;
  color: black;
  font-family: "Permanent Marker", cursive, "Roboto", sans-serif;
  margin-bottom: 5px;
}

span {
  color: blue;
}

.banner-text hr {
  margin-top: 0px;
  border-top: 5px black;
  width: 50%;
  margin: auto;
}

.banner-text p {
  color: black;
  font-size: 19px;
  padding: 1em;
  font-weight: bold;
  font-family: "Lato", sans-serif;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 30%;
  margin: auto;
}

.social-links i {
  color: black;
  font-size: 4em;
  padding-top: 5px !important;
  padding-bottom: 10px;
}

.social-links i:hover {
  color: #217de5;
}

.nameResume {
  font-family: "Roboto", sans-serif;
}

hr {
  background: #373b44; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4286f4,
    #373b44
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4286f4, #373b44);
}
